@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply transition-colors;
    }
    
    .nav-link-light {
      @apply text-zinc-600 hover:text-zinc-900;
    }
    
    .nav-link-dark {
      @apply text-zinc-400 hover:text-zinc-50;
    }
    
    .nav-link-active.nav-link-light {
      @apply text-zinc-900;
    }
    
    .nav-link-active.nav-link-dark {
      @apply text-zinc-50;
  }
}

.EasyMDEContainer .CodeMirror {
  color: unset;
  background-color: unset;
}